<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>

{{.}}

{{. | fdouble}}

{{. | fdouble | fsquare}}

{{. | fdouble | fsquare | fsqroot}}

</body>
</html>