<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Penguin</title>
</head>
<body>

    <h1>This is from penguin</h1>
    <img src="penguin.jpg" alt="a picture of a penguin">

</body>
</html>