<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1><strong>Welcome to dog land</strong></h1>
<p>WOOF WOOF WOOF</p>
<p><strong>BARK BARK BORK</strong></p>

<a href="/">index</a><br>
<a href="/dog">dog</a><br>
<a href="/me">me</a><br>


</body>
</html>