<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1><strong>Welcome to index</strong></h1>
<a href="/dog">dog</a><br>
<a href="/me">me</a><br>

</body>
</html>