<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1><strong>Hello {{.}}</strong></h1>
<p>How are you?</p>

<a href="/">index</a><br>
<a href="/dog">dog</a><br>
<a href="/me">me</a><br>


</body>
</html>