<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<h1>The meaning of everything: {{.}}</h1>
<p>{{template "penguin" .}}</p>
</body> 
</html>